.App {
  text-align: center;
  background-color: #222831;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #393E46;
  height: 80vh;
  max-width: 1000px;
  width: 80%;
  border-radius: 10px;
}

.btn-conct {
  background-color: #1cd7e0;
  border: none;
  border-radius: 5px;
  color: #222831;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-conct:hover {
  background-color: #13b7c0;
}

.user-addrs {
  background-color: #222831;
  border: none;
  border-radius: 5px;
  color: #EEEEEE;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  max-width: 400px;
  margin-top: 20px;
}

.user-addrs > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
